* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url("https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=pexels-pixabay-531880.jpg&fm=jpg");
    object-fit: contain;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    /* top: 150px; */
    /* left: 565px; */
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

.music-container {
    display: flex;
    background: #576574;
    height: 350px;
    width: 350px;
    border-radius: 15px 15px 0px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-container {
    /* margin: 10px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: -webkit-fill-available;
    padding: 10px;
}

.hidden {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #657485;
    height: 35px;
    width: 35px;
    border-radius: 50px;
    transform: rotate(90deg);
    transition-duration: 0.5s;
}

.hidden:hover {
    transform: rotate(0deg);
}

.menu {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #657485;
    height: 35px;
    width: 35px;
    border-radius: 50px;
}

.song-details {
    height: 320px;
    width: 270px;
    background: #657485;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    flex-direction: column;
}

.song-name {
    /* height: 4px; */
    width: 100%;
    display: flex;
    justify-content: center;
}

.artist {
    width: 100%;
    display: flex;
    justify-content: center;
}

.song-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 145px;
    width: 145px;
    border-radius: 75px;
    animation: rotation 4s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.options {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: antiquewhite;
    border-radius: 0px 0px 15px 15px;
    height: 50px;
    width: 350px;
}

.paly-pause {
    background: black;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 12%;
    border-radius: 50%;
}

.paly-pause:hover {
    background: red;
    color: black;
}

.forward {
    display: flex;
    justify-content: center;
    align-items: center;
}

.forward i {
    font-size: 24px;
}

.back {
    display: flex;
    justify-content: center;
    align-items: center;
}

.back i {
    font-size: 24px;
}

.slider_container {
    width: 60%;
    height: 60px;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.seek_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: black;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.seek_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
}

.seek_slider:hover {
    opacity: 1.0;
}

.seek_slider {
    width: 60%;
}
/* https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=pexels-pixabay-531880.jpg&fm=jpg */