* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.wrapper {
    height: 200vh;
}

.upper-header {
    background: black;
    height: 40px;
    width: 99vw;
    color: gray;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 8px;
    gap: 50px;
}

.upper-header i {
    cursor: pointer;
    font-size: 17px;
    color: white;
    height: 10px;
    display: contents;
}

.user-hide {
    cursor: pointer;
    display: none;
}

.upper-header i:hover + .user-hide {
    display: block;
    color: red;
}

.help-hide {
    display: none;
}

.upper-header i:hover + .help-hide {
    display: block;
    color: red;
}

.upper-header img {
    cursor: pointer;
    height: 40px;
    width: 40px;
}

.logo-hide {
    display: none;
}

.upper-header img:hover + .logo-hide {
    display: block;
    color: red;
}

.header {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    background: white;
    position: sticky;
    top: 0px;
    height: 55px;
    gap: 28px;
    padding: 20px;
    padding-left: 40px;
    width: 99vw;
}

.company-nane {
    cursor: pointer;
    font-family: 'Archivo Black', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.company-nane i {
    cursor: pointer;
    color: black;
    font-size: 16px;
    transition: 0.4s;
}

.company-nane i:hover {
    color: red;
    transform: scale(1.6);
}

.company-nane h1 {
    font-weight: bolder;
    gap: 10px;
    color: red;
}

.game-dropdown {
    cursor: pointer;
    font-size: 10px;
}

.game-dropdown:hover {
    color: red;
}

.game-dropdown-butn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.game-dropdown-content {
    display: none;
    position: absolute;
    top: 46px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

.game-dropdown-content a {
    font-weight: bold;
    font-size: 14px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.game-dropdown-content a:hover {
    background-color: #eee;
    border-radius: 5px;
    color: red;
}

.game-dropdown:hover .game-dropdown-content {
    color: red;
    transform: scale(1.1);
    display: block;
}

.about-dropdown {
    font-size: 10px;
    cursor: pointer;
}

.about-dropdown:hover {
    color: red;
}

.about-dropdown-butn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.about-dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

.about-dropdown-content a {
    font-weight: bold;
    font-size: 14px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.about-dropdown-content a:hover {
    color: red;
    background-color: #eee;
    border-radius: 5px;
}

.about-dropdown:hover .about-dropdown-content {
    color: red;
    transform: scale(1.1);
    display: block;
}

.resource-dropdown {
    font-size: 10px;
    cursor: pointer;
}

.resource-dropdown:hover {
    color: red;
}

.resource-dropdown-butn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.resource-dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

.resource-dropdown-content a {
    font-weight: bold;
    font-size: 14px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.resource-dropdown-content a:hover {
    background-color: #eee;
    color: red;
    border-radius: 5px;
}

.resource-dropdown:hover .resource-dropdown-content {
    color: red;
    transform: scale(1.1);
    display: block;
}

.EA-games {
    font-size: 24px;
    font-family: 'Archivo Black', sans-serif;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 22%;
    width: 99vw;
    background-color: #2c2c54;
    background-image: linear-gradient(to right , #2c2c54 , #e74c3c);
    gap: 35px;
}

.empty {
    height: 10px;
    width: 250px;
    background: white;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 99vw;
    padding: 50px;
    height: 946px;
    background: white;
    gap: 30px;
}

.game1 {
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 400px;
    gap: 18px;
    border-radius: 10px;
    padding: 25px;
}

.game1 img {
    height: 300px;
    width: 300px;
    border-radius: 10px;
}

.game1 a {
    cursor: pointer;
    width: 90px;
    height: 25px;
    background: red;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.game2 {
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 400px;
    gap: 18px;
    border-radius: 10px;
    padding: 25px;
}

.game2 img {
    height: 300px;
    width: 300px;
    border-radius: 10px;
    padding: 0px;
}

.game2 a {
    cursor: pointer;
    width: 90px;
    height: 25px;
    background: red;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.game3 {
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 400px;
    gap: 18px;
    border-radius: 10px;
    padding: 25px;
}

.game3 img {
    height: 300px;
    width: 300px;
    border-radius: 10px;
    padding: 0px;
}

.game3 a {
    cursor: pointer;
    width: 90px;
    height: 25px;
    background: red;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.game4 {
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 400px;
    gap: 18px;
    border-radius: 10px;
    padding: 25px;
}

.game4 img {
    height: 300px;
    width: 300px;
    border-radius: 10px;
}

.game4 a {
    cursor: pointer;
    width: 90px;
    height: 25px;
    background: red;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}
.game5 {
    background: aqua;
    height: 400px;
    width: 400px;
}

.credits {
    height: 20%;
    background: #eee;
    width: 99vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    color: black;
    background: #c8d6e5;
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    margin: 0 auto;
    flex-direction: column;
    gap: 40px;
}

.logo-footer img {
    width: 100px;
}

.outer-assemble {
    height: 177px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
    padding: 22px;
}

.top-links {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 40px;
    height: 106px;
    width: 520px;
    font-size: 18px;
}

.company-links div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.communities-links div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7px;
}

.useful-links div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.social-icons div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 50px;
    width: 110px;
}

.social-icons img {
    width: 23px;
    background: var(--white);
    display: block;
}

.assamble {
    width: 99vw;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 40px;
}

.bottom-links div {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 40px;
}

a {
    color: black;
    text-decoration: none;
}
